*{
    box-sizing: border-box;
}

html body, form, fieldset, input, button, ul, li, iframe {
    /* 기본설정된 마진 패딩 제거 -> 브라우저간 호환위함  */
    padding: 0;
    margin: 0;
}

iframe {
    vertical-align: top;
    border: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
body {
    font-size: 12px;
    line-height: 16px;
}
i {
    font-style: unset;
}
input {
/* 기본 설정된 input 사각형이 보이지 않도록 함  */
    border: 0;
    border-radius: 0;
}
ul {
    list-style: none;
}
a{
    /* a 태그 색 안쓰고 상위 요소에서 지정한 색깔 사용 */
    color: inherit;
    text-decoration: none;
}

button {

    border: 0;
    border-radius: 0;
}

h1, h2, h3, h4, h5, h6 {

    padding: 0;
    margin: 0;

}

#wrap {

    overflow: hidden;
    min-width: 1190px;
}

#container {

    position: relative;
    width: 1130px;
    margin: 0 auto;
    padding: 20px 30px;
    letter-spacing: -.2px;
}

#container:after{
    display: table;
    clear: both;
    table-layout: fixed;
    content: '';
}
.background {
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.123161.png);
    background-repeat: no-repeat;
    background-size: 471px 442px;
}

/* https://www.youtube.com/watch?v=aiSClJhuKMY&list=PLcqDmjxt30Rsb8Zpgbemt-NaCOjr2WIUj&index=10 */

/* element 에서 네이버가 css 어떻게 설정했는지 알 수 있다. */
.flex_area {
    /* 컨테이닝 블록 식별을 위해 position: relative 설정함 */
    /* 전체 화면에서 margin: 0 auto;로 가운데 정렬을 하고 싶음 
    /* 그러려면 flex area div 가 block 인 div 컨테이닝 블록 안에 위치해야 한다. */ 
    
    position: relative;
    width: 1130px;
    height: 48px;
    /* 가운데 정렬 위함 */
    margin: 0 auto;
}

.blind{
    /* position 속성이 absolute인 경우, 
    컨테이닝 블록은 position 속성 값이 static이 아닌(fixed, absolute, relative, sticky) 
    가장 가까운 조상의 내부 여백 영역입니다. */
    /* position 이 fixed, absolute, relative, 인 요소 컨테이닝 블록으로 들어가기 위해
    position: absolute; 로 설정함  */


    position: absolute;
    overflow: hidden;
    /* clip 요소의 특정부분만 보여줌  */
    /* 전체 0으로 설정해서 보이지 않게 설정함 */
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


#NM_TOP_BANNER{
    border-bottom-color: #00cbae;
    background-color: #00cbae;
}
.ico_naver_whale.background {

    /* 왼쪽 정렬하면서 다른 요소에 공간을 주기위해서  */
    float: left; 
    width: 110px;
    height: 30px;
    /* 위와 공간을 띄우기 위해  */
    margin-top: 9px;
    /* 위로 붙일려고  */
    vertical-align: top;
    /* 이미지 따로 불러오면 속도 느려져서 bundling 해서 가져옴  */
    background-position: -276px -225px;
    /* bundle img 반복 안하려고 */
}

.bn_m{
     /* position 이 fixed, absolute, relative, 인 요소 컨테이닝 블록으로 들어가기 위해
    position: absolute; 로 설정함  */
    position: absolute;
    /* 컨테이닝 블록 요소 기준으로 0,260px 에 위치  */
    top: 0;
    left: 260px;
}

.link_banner{
/* <a> 밑줄 없애기 용 */
    text-decoration: none;
}

.bn_st{
    /* strong 태그 밑줄용 */
    text-decoration: underline;

}

.banner_text {

    font-weight: 700;
    /* 이미지와 떨어지려고 왼쪽에 마진 줌  */
    margin-left: 417px;
    color: #fff;

    font-size: 13px;
    /* 글자의 높이 지정 */
    line-height: 49px;
    /* 글자 자간 설정 */
    letter-spacing: -.25px;
    
}

.btn_close {
    /* 배경색 투명 설정해서 div 색 반영되도록 */
    background-color: transparent;
    /* 글자색  */
    color: #fff;
    font-size: 11px;
    /* containing block 으로 들어가 위치 설정  */
    position: absolute;
    top: 0;
    right: 0;
    height: 49px;
    cursor: pointer;
    
}

.logo_naver.background {
    /* 같은 라인에 검색창 위치해야 해서 inline-block */
    display: inline-block;
    width: 222px;
    height: 52px;
    vertical-align: top;
    background-position: 0 -161px;
}

.logo_default {
    /* containing block 으로 들어가 위치 설정  */
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -32px;
}


.logo_area {

/* containing block 으로 들어가기 위해  */

    position: relative;
    height: 100%;
}

.group_flex {
    /* containing block 으로 들어가기 위해  */
    position: relative;
    width: 1130px;
    /* special_bg 안에서 100%  */
    height: 100%;
    /* special_bg div 안에서 가운데 정렬 위함 */
    margin: 0 auto;
    /* 우측 위치 조정 */
    padding: 0 30px;

}

.special_bg{

/* containing block 으로 들어가기 위해  */
    position: relative;
    height: 160px;
    background-color: #fff;
    border-bottom: 1px solid #e4e8eb;
}

.link_set{

    font-size: 11px;
    float: left;
    color: #404040;
    text-decoration: none;
    line-height: 16px;

}

/* :before :after 단순 디자인을 위해 태그를 추가해야할 때 사용*/
/* 따로 태그를 추가하지 않고 아이콘, 이미지등을 삽입할 때 사용 */
/* 태그를 최소화하기 위해 사용  */
/* 폼 태그와 이미지 태그(img)는 가상선택자가 적용되지 않는다.*/
.link_set:after{

    display: inline-block;
    width: 26px;
    height: 26px;
    margin: -3px 0 0 3px;
    content: '';
    vertical-align: top;
    background-position: -391px -225px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.44265f.png);
    background-repeat: no-repeat;
    background-size: 471px 442px;

}
.link_jrnaver{
    float: left;
}

.service_area{
    position: absolute;
    top: 12px;
    right: 27px;
}

.ico_jrnaver.background{
    /* display: inline 을 안하는 이유는 크기설정이 안됨 */
    display: inline-block;
    width: 60px;
    height: 10px;
    margin: 3px;
    margin-left: 10px;
    vertical-align: top;
    background-position: -348px -260px;
}

.ico_happybin.background{
    display: inline-block;
    width: 34px;
    height: 11px;
    margin: 3px 3px 2px ;
    vertical-align: top;
    background-position: -253px -323px;
}

#u_skip {

    /* div 안의 a 태그 위치를 u_skip div 안에서 조정하기 위함  */
position: relative;

}

#u_skip a {

    position: absolute;
    top: -30px;
    left: 0;
    width: 138px;
    text-align: center;
    border: 1px solid #4ec53d;
    background: #333;
}

#u_skip span {
/* span 은 기본적으로 inline 이기 때문에 span 안의 글자크기를 조정해서
    span 의 크기를 조정한다. 이를 사용해서 화면상에 보이지 않게 한다. 
*/
    font-size: 1px;
}
.green_window {

    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    border-radius: 2px;

}

fieldset {

    border: 0;
    margin: 0;
    padding: 0;
}

#search {

    position: absolute;
    /* 네이버 로고 오른쪽에 붙이기 위한 위치 이동  */
    top: 50%;
    left: 268px;
    margin-top: -27px;
}

.input_text {

    /* 세로 가운데 정렬 */
    /* 각종 가운데 정렬
    https://so4869.tistory.com/23
    */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    width: 444px;
    height: 24px;
    margin: 1px;
    /* 검색어가 가운데 위치하도록 설정  */
    padding: 13px;
    color: #000;

    background-color: #fff;
    /* input 안에 텍스트 입력할 때 나오는 line 제거 */
    outline: none;
}

.btn_submit {
/* 가장 근처에 있는 relative 로 설정된 div 콘테이닝 블럭으로 들어감 

green_window 박스안에서 위치 설정됨 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 56px;
    border-radius: 0 2px 2px 0;
    background-color: #19ce60;
}

.ico_search_submit.background {
    /* 크기 설정하려고 */
    display: inline-block;
    width: 22px;
    height: 22px;
    /* 아이콘 이미지 위치설정 */
    vertical-align: top;
    background-position: -429px -172px;
}

.ico_keyboard.background{

    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 20px;
    height: 12px;
    margin: -6px 0 0 -10px;
    vertical-align: top;
    background-position: -400px -276px;
}

.msg_keybord.background{

    position: absolute;
    top: 42px;
    left: -16px;
    /* display: inline-block; */
    display: none;
    width: 68px;
    height: 37px;
    vertical-align: top;
    background-position: -161px -115px;
}


#ke_kbd_btn {

    position: absolute;
    /* 세로 가운데 정렬 */
    top: 0;
    bottom: 0;
    z-index: 400;
    width: 36px;
    right: 84px;
}

.btn_arw{

    position: absolute;
    top: 0;
    bottom: 0;
    right: 64px;
    width: 22px;
    
}

.ico_arr.background{

    /* 위치 가운데로 조정  */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -5px;

    display: inline-block;
    width: 10px;
    height: 5px;
    vertical-align: top;
    background-position: -429px -394px;

}

#gnb{

    /* 자체적인 컨테이닝 블록을 형성하려고 */
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);

}

.gnb_inner {

    position: relative;
    width: 1130px;
    /* display : blockd 일때 가로 가운데 정렬 */
    margin: 0 auto;
    /* 반시계방향 -> 위 오른쪽 아래 왼쪽 */
    /* 세로방향 | 가로방향 */
    /* top bottom -> 0 , left right -> 30px  */
    padding: 0 30px;

}

#gnb .list_nav{

    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    /* float 로 붕 띄워서 남은 공간을 다른 요소가 차지하게 함  */
    /* 원래는 display : block 이라서 다른 요소가 차지하지 못함  */
    float: left;
    letter-spacing: -0.3px;
    color: #000;
}

.list_nav.type_fix a  {
    /* 메일~TV 까지만 컬러 적용 */
    color: #03c75a;

}

.list_nav.NM_FAVORITE_LIST a  {
    /* 메일~TV 까지만 컬러 적용 */
    color: #000;

}
/* 다 18이 있는데 첫번째 자식만 마진이 0  */

.nav_item {
    /* li 태그를 수평으로 나란히 정렬하기 위해  */
    float: left;
    margin-left: 18px;
}

.list_nav.type_fix li:first-child {

    margin-left: 0;
}
.list_nav.NM_FAVORITE_LIST {

    margin-left: 18px;
}
.list_nav.NM_FAVORITE_LIST li:first-child {

    margin-left: 0;
}

.ico_mail.background {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: 3px 9px 0 0 ;
    vertical-align: top;
    background-position: -429px -227px;
    
}
.ico_tv.background {
    display: inline-block;
    width: 12px;
    height: 14px;
    margin: 9px 2px 0 0;
    vertical-align: top;
    background-position: -458px -80px;
    

}

.group_nav{

    position: relative;
    /* 박스를 넘어간 부분은 보이지 않게 */
    overflow: hidden;
    padding: 11px 220px 11px 0;   

}

.btn_more {
    
    font-size: 13px;
    line-height: 30px;
    float: left;
    min-width: 70px;
    margin-left: 17px;
    text-align: right;
    color: #202020;

}

.btn_more:after {

    display: inline-block;
    width: 11px;
    height: 7px;
    margin-left: 7px;
    /*글자를 넣지 않고 이미지를 넣을거라서 빈문자열로 설정 */
    content: '';
    vertical-align: 2px;
    background-position: -458px -432px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.44265f.png);
    background-repeat: no-repeat;
    background-size: 471px 442px;
}

.group_keyword {

    position: absolute;
    top: 11px;
    right: 30px;
    overflow: hidden;
    width: 210px;
    height: 30px;
}



#rtk.group_keyword:after{

    position: absolute;
    top: 11px;
    right: 0;
    display: inline-block;
    width: 14px;
    height: 9px;
    content: '';
    vertical-align: top;
    background-position: -389px -211px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.44265f.png);
    background-repeat: no-repeat;
    background-size: 471px 442px;
}

.keyword_area{

    font-size: 13px;
    line-height: 30px;
    position: relative;
    z-index: 1;
    height: 30px;
}

.link_keyword{

    display: inline-block;
    width: 190px;
    padding-right: 20px;

}

.ico_error.background{

    float: left;
    width: 14px;
    height: 14px;
    margin: 8px 5px 0 0;
    vertical-align: top;
    background-position: -39px -427px;
}

.keyword {

    font-size: 12px;
    letter-spacing: -.5px;
    text-overflow: clip;
    color: #505050;
}

.column_left{

float: left;
width: 750px;
}

.column_right{
    float: right;
    width: 350px;
}

.column_fix_wrap{
    /* 컨테이닝 블록 형성하여 하위 요소 위치 조정하기 위함 */
    position: relative;
    width: 350px;
    background-color: #fff;
}


.sc_login{
    padding : 16px 16px 12px 17px;
    border: 1px solid #dae1e6;
    background-color: #f7f9fa;
}

.login_msg{
    padding-left: 3px;
    color: grey;
}

.link_login {

    font-size: 13px;
    font-weight: 700;
    /* 
    display: inline-block 
    width :100% 
    => display: block
    => 가로 공간을 다 차지하기 위함 
    */
    display: block;

    margin-top: 11px;
    /* 위, 아래 15px */
    padding: 15px 0 ;
    text-align: center;
    color: #fff;
    /* 버튼모서리를 둥글게 만들기 위해 */
    border: 1px solid #15c654;
    border-radius: 2px;

    background-color: #19ce60;

    


}

.ico_naver.background {

    display: inline-block;
    width: 60px;
    height: 12px;
    margin: 2px 5px 0 0;
    vertical-align: top;
    background-position: -270px -276px;
}

.sub_area {

    margin: 14px 8px 0 4px;
}

.sub_area:after {

    /* div sub_area 안에 왼쪽, 오른쪽 정렬한 float 요소들을
    div 안으로 넣기 위한 조치 
    */
    /* blind 처럼 인위적으로 만든 것 같음  */
    /* float 로 설정한 요소를 div 안에 넣으려고 한 듯  */
    /* 밑에 공간 띄워줄려고 */
    display: table;
    /* float 속성을 적용하지 않은 객체가 자리를 차지하기 못하게 하려고 */
    clear: both;
    table-layout: fixed;
    content: '';
}

.lock_box {
   /* 아이디, 비밀번호 찾기 왼쪽 정렬하기 위해 */
   float: left;
   font-size: 12px;
}

.lock_box:before {
    
    display: inline-block;
    width: 10px;
    height: 14px;
    margin: 1px 1px 1px;
    content: '';
    vertical-align: top;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.44265f.png);
    background-repeat: no-repeat;
    background-size: 471px 442px;
    background-position: -458px -138px;

    /* 아이디, 비밀번호 찾기 왼쪽 정렬하기 위해 */
 }

.link_lock {
    color: #404040

}

#link_lock_password:before {

    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0 5px 0 2px;
    content: '';
    vertical-align: top;
    vertical-align: 3px;
    border-radius: 50%;
    background-color: #d7dce0;
}

.link_join{
    font-size: 12px;
    color: #505050;
    float: right;
}

#link_join_signup:before{

    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 2px 5px 0 0;
    content: '';
    vertical-align: top;
    background-position: -458px -207px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.44265f.png);
    background-repeat: no-repeat;
    background-size: 471px 442px;
}


.card_wrap {

    overflow: hidden;
    height: 47px;
    /* nav 버튼 자리  */
    padding-right: 67px;
}

.card_nav {

    position: absolute;
    top: 11px;
    right: 10px;
    overflow: hidden;
}

.btn_nav{
    float: left;
    border: 1px solid #e4e8eb;
    background-color: #fff;
    background-color: #fff;
    
}

.btn_nav.btn_prev:before {

    display: inline-block;
    width: 6px;
    height: 9px;
    margin: 7px 8px 6px;
    content: '';
    vertical-align: top;
    background-position: -265px -218px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.123161.png);
    background-repeat: no-repeat;
    background-size: 471px 442px;
}

.btn_nav.btn_next:before {

    display: inline-block;
    width: 6px;
    height: 9px;
    margin: 7px 8px 6px;
    content: '';
    vertical-align: top;
    background-position: -417px -147px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.123161.png);
    background-repeat: no-repeat;
    background-size: 471px 442px;
}

.sc_timesquare{

    position: relative;
    height: 47px;
    margin: 12px 0;
    letter-spacing: -.25px;
    border: 1px solid #dae1e6;
}

.sc_shopcast {
    width: 350px;
    margin-top: 15px;

}

.sc_shopcast iframe {

    width: 350px;
    height: 1191px;
    

}
